# Logs
logs
*.log
a ver....
0*.png
sikulix*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
file.skl
macrobase*
pruebaspdfs
node_modules
dist
dist-ssr
ProvidersDataOld.js
pdfParserOld.js
*.local
sikuli_model

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
